extends layout

block layout-content

    nav.navbar.navbar-expand-lg.navbar-light.bg-light
        .collapse.navbar-collapse(id='navbarSupportedContent')
            ul.navbar-nav.mr-auto
                li.nav-item
                    a.nav-link(href='/') Home
                li.nav-item
                        a.nav-link(href='/teams') Teams
                li.nav-item.active
                    a.nav-link(href='#') Team Fixtures
                li.nav-item
                    a.nav-link(href='/team-results') Team Results
                li.nav-item
                    a.nav-link(href='/players') BMC Players

    div.View.FixturesView
        h1.Banner BMC Darts
        div.Message
            div.Title
              h3 Select season from the dropdown
            div(class="dropdown")
                button(class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false")
                  div(class="dropdown-menu")
                      each season in seasons
                        a.dropdown-item(class="dropdown-item" href="/load_fixtures?season_id="+`${season.id}`)= season.season_year + " " + season.season_cadence

    div.View.FixturesContent
    include fixtures_content.pug