extends layout

block layout-content
  nav.navbar.navbar-expand-lg.navbar-light.bg-light
    .collapse.navbar-collapse(id='navbarSupportedContent')
      ul.navbar-nav.mr-auto
        li.nav-item.active
          a.nav-link(href='#') Home
        li.nav-item
            a.nav-link(href='/teams') Teams
        li.nav-item
          a.nav-link(href='/fixtures_selection') Team Fixtures
        li.nav-item
          a.nav-link(href='/team-results') Team Results
        li.nav-item
          a.nav-link(href='/players') BMC Players

  div.View.WelcomeView
    h1.Banner BMC Darts
    div.Message
      div.Title
        h3 Shitebag if ye dinnae!
      span.Details Access the BMC's Dart Team App
    div.NavButtons
      a(href="/user")
        div.NavButton Log in!