extends layout

block layout-content
  div.View.WelcomeView
    h1.Banner BMC Darts
    div.Message
      div.Title
        h3 Shitebag if ye dinnae!
      span.Details Access the BMC's Dart Team App
    div.NavButtons
      a(href="/user")
        div.NavButton Log in!